/* Reset */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, caption,
article, aside, canvas, details, figcaption, figure, footer, header, hgroup,
menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

body {
  font: 13px/1.231 sans-serif;
  *font-size: small; }

select, input, textarea, button {
  font: 99% sans-serif; }

pre, code, kbd, samp {
  font-family: monospace, sans-serif; }

body, select, input, textarea {
  color: #444; }

h1, h2, h3, h4, h5, h6 {
  font-weight: bold; }

html {
  overflow-y: scroll; }

a:hover, a:active {
  outline: none; }

ul, ol {
  margin-left: 1.8em; }

ol {
  list-style-type: decimal; }

nav ul, nav li {
  margin: 0; }

small {
  font-size: 85%; }

strong, th {
  font-weight: bold; }

td, td img {
  vertical-align: top; }

sub {
  vertical-align: sub;
  font-size: smaller; }

sup {
  vertical-align: super;
  font-size: smaller; }

pre {
  padding: 15px;
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word; }

textarea {
  overflow: auto; }

.ie6 legend, .ie7 legend {
  margin-left: -7px; }

input[type="radio"] {
  vertical-align: text-bottom; }

input[type="checkbox"] {
  vertical-align: bottom; }

.ie7 input[type="checkbox"] {
  vertical-align: baseline; }

.ie6 input {
  vertical-align: text-bottom; }

input[type=button], input[type=submit], button {
  cursor: pointer; }

button, input, select, textarea {
  margin: 0; }

input:invalid, textarea:invalid {
  border-radius: 1px;
  -moz-box-shadow: 0px 0px 5px red;
  -webkit-box-shadow: 0px 0px 5px red;
  box-shadow: 0px 0px 5px red; }

.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid {
  background-color: #f0dddd; }

button {
  width: auto;
  overflow: visible; }

.ie7 img {
  -ms-interpolation-mode: bicubic; }

.ir {
  display: block;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr; }

.hidden {
  display: none;
  visibility: hidden; }

.visuallyhidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px); }

.invisible {
  visibility: hidden; }

.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  visibility: hidden; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1; }

@media screen and (max-device-width: 480px) {
  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */ }
/*Mixins: */
/************** Colors **************/
/************** Resetes **************/
* {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  color: black; }

body {
  background: url("../images/background_image.gif"); }

ul {
  margin: 0; }
  ul li {
    list-style: none; }

/************** Actual styling **************/
#wrapper {
  width: 800px;
  margin: 0 auto; }

h1.main-heading {
  font-size: 24px;
  padding-top: 10px;
  padding-left: 20px;
  margin-bottom: 10px; }

header {
  padding: 20px 0; }
  header a {
    color: #435465;
    padding: 20px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    -webkit-text-shadow: 0px 1px 0px white;
    -moz-text-shadow: 0px 1px 0px white;
    -ms-text-shadow: 0px 1px 0px white;
    text-shadow: 0px 1px 0px white; }
  header a:hover {
    color: #607890; }
  header #menu-wrapper {
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    padding: 20px 0px;
    margin-top: 20px;
    width: 800px;
    -webkit-box-shadow: 0px 1px 0px white;
    -moz-box-shadow: 0px 1px 0px white;
    -ms-box-shadow: 0px 1px 0px white;
    box-shadow: 0px 1px 0px white; }
    header #menu-wrapper ul#menu {
      margin: 0 auto;
      width: 680px; }
      header #menu-wrapper ul#menu li {
        display: inline;
        list-style: none; }
    header #menu-wrapper img {
      display: inline-block;
      vertical-align: top;
      margin-left: 30px;
      width: 150px; }

.fancybox img {
  max-width: 200px; }

ul.posts {
  width: 780px; }
  ul.posts li {
    padding: 20px; }
    ul.posts li header {
      margin: 0 0 20px 0;
      border-bottom: 1px solid #435465; }
      ul.posts li header h1 {
        color: #435465;
        font-size: 20px;
        -webkit-text-shadow: 0px 1px 0px white;
        -moz-text-shadow: 0px 1px 0px white;
        -ms-text-shadow: 0px 1px 0px white;
        text-shadow: 0px 1px 0px white; }
    ul.posts li .text {
      display: inline-block;
      vertical-align: top;
      width: 700px;
      padding: 0 40px 20px 0px;
      line-height: 24px;
      font-size: 15px; }
      ul.posts li .text p {
        -webkit-text-shadow: 0px 1px 0px white;
        -moz-text-shadow: 0px 1px 0px white;
        -ms-text-shadow: 0px 1px 0px white;
        text-shadow: 0px 1px 0px white; }
    ul.posts li img {
      display: inline;
      border: 1px solid #435465;
      padding: 5px;
      border-radius: 5px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      -ms-border-radius: 5px;
      -webkit-box-shadow: #435465 0px 1px 3px;
      -moz-box-shadow: #435465 0px 1px 3px;
      -ms-box-shadow: #435465 0px 1px 3px;
      box-shadow: #435465 0px 1px 3px;
      background: white; }
  ul.posts a.no-link-highlight {
    text-decoration: none;
    color: #435465; }

ul.gallery {
  width: 780px; }
  ul.gallery li {
    padding: 20px; }
    ul.gallery li img {
      display: inline;
      border: 1px solid #435465;
      padding: 5px;
      border-radius: 5px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      -ms-border-radius: 5px;
      -webkit-box-shadow: #435465 0px 1px 3px;
      -moz-box-shadow: #435465 0px 1px 3px;
      -ms-box-shadow: #435465 0px 1px 3px;
      box-shadow: #435465 0px 1px 3px;
      background: white; }

ul.videos {
  width: 750px;
  margin-bottom: 40px; }
  ul.videos li h1 {
    padding-top: 20px;
    font-size: 20px;
    -webkit-text-shadow: 0px 1px 0px white;
    -moz-text-shadow: 0px 1px 0px white;
    -ms-text-shadow: 0px 1px 0px white;
    text-shadow: 0px 1px 0px white; }
  ul.videos li p {
    vertical-align: top;
    line-height: 18px;
    font-size: 16px;
    line-height: 24px;
    -webkit-text-shadow: 0px 1px 0px white;
    -moz-text-shadow: 0px 1px 0px white;
    -ms-text-shadow: 0px 1px 0px white;
    text-shadow: 0px 1px 0px white; }
  ul.videos li img {
    display: inline;
    margin-right: 30px;
    border: 1px solid #435465;
    padding: 5px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    -webkit-box-shadow: #435465 0px 1px 3px;
    -moz-box-shadow: #435465 0px 1px 3px;
    -ms-box-shadow: #435465 0px 1px 3px;
    box-shadow: #435465 0px 1px 3px;
    background: white; }

div.goals h1 {
  padding-top: 20px;
  color: black;
  font-size: 24px;
  -webkit-text-shadow: 0px 1px 0px white;
  -moz-text-shadow: 0px 1px 0px white;
  -ms-text-shadow: 0px 1px 0px white;
  text-shadow: 0px 1px 0px white; }
div.goals .text {
  width: 800px;
  line-height: 24px;
  padding: 20px 0 20px 0; }
  div.goals .text p {
    -webkit-text-shadow: 0px 1px 0px white;
    -moz-text-shadow: 0px 1px 0px white;
    -ms-text-shadow: 0px 1px 0px white;
    text-shadow: 0px 1px 0px white; }
div.goals #img-container {
  margin: 0 auto; }
div.goals img {
  margin: 20px;
  display: inline;
  border: 1px solid #435465;
  padding: 5px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  -webkit-box-shadow: #435465 0px 1px 3px;
  -moz-box-shadow: #435465 0px 1px 3px;
  -ms-box-shadow: #435465 0px 1px 3px;
  box-shadow: #435465 0px 1px 3px;
  background: white; }

ul.contact-show li h1 {
  padding-top: 20px;
  color: #435465;
  font-size: 24px;
  -webkit-text-shadow: 0px 1px 0px white;
  -moz-text-shadow: 0px 1px 0px white;
  -ms-text-shadow: 0px 1px 0px white;
  text-shadow: 0px 1px 0px white; }
ul.contact-show li .contact-info {
  width: 600px;
  line-height: 24px;
  font-size: 16px;
  padding: 40px 0 20px 0; }
ul.contact-show li img {
  display: inline;
  border: 1px solid #435465;
  padding: 5px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  -webkit-box-shadow: #435465 0px 1px 3px;
  -moz-box-shadow: #435465 0px 1px 3px;
  -ms-box-shadow: #435465 0px 1px 3px;
  box-shadow: #435465 0px 1px 3px;
  background: white; }

ul.cards li {
  background: white;
  padding: 20px;
  margin: 20px;
  display: inline-block;
  width: 300px;
  border: 1px solid #435465;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -ms-border-radius: 3px;
  -webkit-box-shadow: 0px 1px 3px #435465;
  -moz-box-shadow: 0px 1px 3px #435465;
  -ms-box-shadow: 0px 1px 3px #435465;
  box-shadow: 0px 1px 3px #435465; }
  ul.cards li a {
    text-decoration: none;
    color: #435465; }
  ul.cards li img {
    display: inline;
    width: 80px;
    height: 100px; }
  ul.cards li hr {
    border-top: 1px solid #435465;
    -webkit-box-shadow: 0px 1px 0px white;
    -moz-box-shadow: 0px 1px 0px white;
    -ms-box-shadow: 0px 1px 0px white;
    box-shadow: 0px 1px 0px white; }
  ul.cards li .info {
    padding-left: 10px;
    display: inline-block;
    vertical-align: top;
    max-width: 190px;
    overflow: hidden; }
    ul.cards li .info p {
      -webkit-text-shadow: 0px 1px 0px white;
      -moz-text-shadow: 0px 1px 0px white;
      -ms-text-shadow: 0px 1px 0px white;
      text-shadow: 0px 1px 0px white; }
  ul.cards li h1 {
    font-size: 18px;
    -webkit-text-shadow: 0px 1px 0px white;
    -moz-text-shadow: 0px 1px 0px white;
    -ms-text-shadow: 0px 1px 0px white;
    text-shadow: 0px 1px 0px white; }

ul.pagination {
  width: 660px;
  border-top: 1px solid #435465;
  margin-left: 20px;
  padding: 20px 0; }
  ul.pagination li {
    display: inline; }
    ul.pagination li h1 {
      color: #435465;
      font-size: 24px;
      -webkit-text-shadow: 0px 1px 0px white;
      -moz-text-shadow: 0px 1px 0px white;
      -ms-text-shadow: 0px 1px 0px white;
      text-shadow: 0px 1px 0px white; }
    ul.pagination li a {
      text-decoration: none;
      color: #435465; }

ul.project-links {
  text-align: center;
  margin: 20px 0px 20px 0px; }
  ul.project-links li {
    display: inline; }
    ul.project-links li a {
      padding: 0 10px;
      margin-bottom: 20px;
      text-decoration: none;
      display: inline;
      color: #435465;
      font-size: 24px;
      -webkit-text-shadow: 0px 1px 0px white;
      -moz-text-shadow: 0px 1px 0px white;
      -ms-text-shadow: 0px 1px 0px white;
      text-shadow: 0px 1px 0px white; }

h3#back-link {
  color: #435465;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  -webkit-text-shadow: 0px 1px 0px white;
  -moz-text-shadow: 0px 1px 0px white;
  -ms-text-shadow: 0px 1px 0px white;
  text-shadow: 0px 1px 0px white;
  margin: 60px 0 	20px 0; }

ul.project-show {
  margin: 40px 0px 40px 0px; }
  ul.project-show li h1 {
    color: #435465;
    font-size: 24px;
    -webkit-text-shadow: 0px 1px 0px white;
    -moz-text-shadow: 0px 1px 0px white;
    -ms-text-shadow: 0px 1px 0px white;
    text-shadow: 0px 1px 0px white; }
  ul.project-show li .text {
    width: 700px;
    line-height: 24px;
    font-size: 16px;
    padding: 40px 0 20px 0; }
    ul.project-show li .text p {
      -webkit-text-shadow: 0px 1px 0px white;
      -moz-text-shadow: 0px 1px 0px white;
      -ms-text-shadow: 0px 1px 0px white;
      text-shadow: 0px 1px 0px white; }

#project-index {
  width: 800px;
  padding: 20px; }
  #project-index h1#project-main-title {
    text-align: center;
    font-size: 24px;
    color: black;
    margin-bottom: 20px; }
  #project-index h1#project-regular-title {
    color: black;
    font-size: 24px;
    -webkit-text-shadow: 0px 1px 0px white;
    -moz-text-shadow: 0px 1px 0px white;
    -ms-text-shadow: 0px 1px 0px white;
    text-shadow: 0px 1px 0px white; }
  #project-index p#project-statement {
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    -webkit-text-shadow: 0px 1px 0px white;
    -moz-text-shadow: 0px 1px 0px white;
    -ms-text-shadow: 0px 1px 0px white;
    text-shadow: 0px 1px 0px white; }
  #project-index p {
    text-align: left;
    font-size: 16px;
    line-height: 32px;
    -webkit-text-shadow: 0px 1px 0px white;
    -moz-text-shadow: 0px 1px 0px white;
    -ms-text-shadow: 0px 1px 0px white;
    text-shadow: 0px 1px 0px white; }
  #project-index .text {
    width: 700px;
    text-align: left;
    line-height: 24px;
    font-size: 16px;
    padding: 40px 0 20px 0; }
    #project-index .text p {
      -webkit-text-shadow: 0px 1px 0px white;
      -moz-text-shadow: 0px 1px 0px white;
      -ms-text-shadow: 0px 1px 0px white;
      text-shadow: 0px 1px 0px white; }

#more-info {
  width: 700px;
  padding: 20px; }
  #more-info h1 {
    font-size: 24px;
    color: black;
    margin-bottom: 20px; }
  #more-info p {
    font-size: 16px;
    line-height: 20px; }

#sierra-contact {
  padding: 20px; }
  #sierra-contact h1 {
    font-size: 24px;
    color: black;
    margin-bottom: 20px; }
  #sierra-contact h2 {
    padding-bottom: 10px;
    font-size: 18px; }
  #sierra-contact p {
    font-size: 12px;
    line-height: 16px; }

img#name {
  padding-left: 40px;
  display: inline-block!important;
  display: block;
  margin-right: 40px;
  width: 500px; }

div#main-title {
  padding-left: 40px;
  margin-right: 40px;
  display: inline-block;
  vertical-align: top;
  color: black; }
  div#main-title h1 {
    font-size: 67px; }
  div#main-title h3 {
    font-size: 32px; }

h3#slogan {
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  padding-bottom: 30px; }

footer.main-footer {
  border-top: 1px solid black;
  margin-top: 10px;
  margin-bottom: 10px; }
  footer.main-footer p {
    padding-top: 10px;
    text-align: center; }

#home-share-buttons {
  text-align: center;
  vertical-align: top; }

/*Nivo slider*/
.slider-container {
  position: relative;
  padding: 5px;
  top: 20px;
  left: 40px;
  width: 700px;
  min-height: 350px;
  margin-bottom: 50px;
  border: 1px solid #435465;
  -webkit-box-shadow: #435465 0px 1px 3px;
  -moz-box-shadow: #435465 0px 1px 3px;
  -ms-box-shadow: #435465 0px 1px 3px;
  box-shadow: #435465 0px 1px 3px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -ms-border-radius: 3px;
  background-color: white; }

.nivoSlider {
  position: relative; }

.nivoSlider img {
  width: 700px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  left: 0px; }

/* The slices and boxes in the Slider */
.nivo-slice {
  display: block;
  position: absolute;
  z-index: 5;
  height: 100%; }

.nivo-box {
  display: block;
  position: absolute;
  z-index: 5; }

#dropdown {
  margin: 0 0 50px 0;
  padding: 0;
  color: #435465; }
  #dropdown li {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0 0 0 10px;
    position: relative;
    height: 30px;
    width: 50px; }
    #dropdown li a#follow-text {
      text-decoration: none;
      color: #435465;
      border: 1px 90% #435465;
      -webkit-box-shadow: #435465 0px 1px 3px;
      -moz-box-shadow: #435465 0px 1px 3px;
      -ms-box-shadow: #435465 0px 1px 3px;
      box-shadow: #435465 0px 1px 3px;
      padding: 3px;
      border-radius: 5px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      -ms-border-radius: 5px; }
  #dropdown li a {
    text-decoration: none; }

#dropdown ul {
  display: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 20px;
  left: -1px;
  z-index: 500; }

#dropdown ul {
  position: absolute; }

#dropdown li:hover ul {
  display: block; }

#dropdown-header {
  float: right;
  margin: 0;
  padding: 0;
  color: #435465; }
  #dropdown-header ul {
    display: none;
    margin: 0;
    padding: 1px;
    padding-top: 10px;
    position: absolute;
    top: 20px;
    left: -1px;
    z-index: 500; }
  #dropdown-header li {
    display: block;
    list-style: none;
    margin: 0;
    position: relative; }
    #dropdown-header li li a {
      text-decoration: none;
      background-color: white;
      color: #435465;
      text-decoration: none;
      border: 1px 90% #435465;
      -webkit-box-shadow: 0px 0px 1px #435465;
      -moz-box-shadow: 0px 0px 1px #435465;
      -ms-box-shadow: 0px 0px 1px #435465;
      box-shadow: 0px 0px 1px #435465;
      padding: 5px;
      border-radius: 5px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      -ms-border-radius: 5px; }

#dropdown-header li:hover ul {
  display: block; }

/* BOX SLIDER BUTTONS */
.bx-wrapper .bx-prev {
  position: absolute;
  top: 250px;
  left: -55px;
  width: 31px;
  height: 31px;
  text-indent: -999999px;
  background: url(icons/icon_arrow_left.png) no-repeat 0 -31px; }

.bx-wrapper .bx-next {
  position: absolute;
  top: 250px;
  right: -40px;
  width: 31px;
  height: 31px;
  text-indent: -999999px;
  background: url(icons/icon_arrow_right.png) no-repeat 0 -31px; }

/* Font size jquery css */
.jfontsize-button {
  font: bold 12px arial;
  padding: 3px;
  border: solid 1px #ccc; }

.jfontsize-button:hover {
  text-decoration: none;
  background: #333;
  color: #fff;
  border: solid 1px #333; }

.jfontsize-disabled, .jfontsize-disabled:hover {
  color: #aaa;
  border: solid 1px #eee;
  background: #eee; }

strong {
  font-size: 18px;
}